<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<th:block th:insert="~{common/header :: HeaderFragment}"></th:block>
<div class="main-wrap">
    <div class="d-flex w-100 flex-wrap mb-3">
         <!-- 조회수 랭킹 -->
            <div class="d-flex w-100 card h-100 mb-3">
                <div class="card-header bg-white border-dark border d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">조회수 TOP<span class="rank-count">5</span></h6>
                    <button class="btn btn-sm btn-outline-dark rank-more-btn" data-rank-type="view">더보기</button>
                </div>
                <div class="card-body p-0 bg-white border-dark border">
                    <ul class="list-group list-group-flush rank-list" id="viewRankList">
                        <!-- 자바스크립트로 동적 생성 -->
                    </ul>
                </div>
            </div>
            <!-- 좋아요 랭킹 -->
            <div class="d-flex w-100 card h-100 mb-3">
                <div class="card-header bg-white border-dark border d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">좋아요 TOP<span class="rank-count">5</span></h6>
                    <button class="btn btn-sm btn-outline-dark rank-more-btn" data-rank-type="like">더보기</button>
                </div>
                <div class="card-body p-0 bg-white border-dark border">
                    <ul class="list-group list-group-flush rank-list" id="likeRankList">
                        <!-- 자바스크립트로 동적 생성 -->
                    </ul>
                </div>
            </div>
            <!-- 싫어요 랭킹 -->
            <div class="d-flex w-100 card h-100 mb-3">
                <div class="card-header bg-white border-dark border d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">싫어요 TOP<span class="rank-count">5</span></h6>
                    <button class="btn btn-sm btn-outline-dark rank-more-btn" data-rank-type="unlike">더보기</button>
                </div>
                <div class="card-body p-0 bg-white border-dark border">
                    <ul class="list-group list-group-flush rank-list" id="unlikeRankList">
                        <!-- 자바스크립트로 동적 생성 -->
                    </ul>
                </div>
            </div>
            <!-- 댓글수 랭킹 -->
            <div class="d-flex w-100 card h-100 mb-3">
                <div class="card-header bg-white border-dark border d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">댓글수 TOP<span class="rank-count">5</span></h6>
                    <button class="btn btn-sm btn-outline-dark rank-more-btn" data-rank-type="comment">더보기</button>
                </div>
                <div class="card-body p-0 bg-white border-dark border">
                    <ul class="list-group list-group-flush rank-list" id="commentRankList">
                        <!-- 자바스크립트로 동적 생성 -->
                    </ul>
                </div>
            </div>
    </div>
</div>
<th:block th:insert="~{common/footer :: FooterFragment}"></th:block>
<script th:src="@{/rank/list.js}"></script>
</body>
</html> 