<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-bg-light w-25 shadow-lg">
        <div class="card-header bg-white text-center">
            <h3 class="text-black">계정 ID/PW 찾기</h3>
        </div>
        <div class="card-body bg-white">
            <div id="alert-container"></div>
            <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <form id="find-id-form" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">ID 찾기</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="가입시 입력한 이메일을 입력하세요" required>
                </div>
                <button type="submit" class="mb-3 btn btn-outline-dark w-100">찾기</button>
            </form>
            <form id="find-pw-form" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">PW 찾기</label>
                    <input type="text" id="id" name="id" class="form-control" placeholder="찾은 ID를 입력하세요" required>
                </div>
                <button type="submit" class="mb-3 btn btn-outline-dark w-100">찾기</button>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="~{fragment/footer :: FooterFragment}"></th:block>
<th:block th:insert="~{fragment/import :: ImportFragment}"></th:block>
<script th:src="@{../member/findIdPw.js}"></script>
</body>
</html>
