<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-bg-light w-25 shadow-lg">
        <div class="card-header bg-white text-center">
            <h3 class="text-dark">회원가입</h3>
        </div>
        <div class="card-body bg-white">
            <div id="alert-container"></div>
            <form id="signup-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="id" class="form-label">아이디</label>
                    <input type="text" id="id" name="id" class="form-control" placeholder="아이디를 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="nickName" class="form-label">닉네임</label>
                    <input type="text" id="nickName" name="nickName" class="form-control" placeholder="닉네임을 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="userName" class="form-label">사용자이름</label>
                    <input type="text" id="userName" name="userName" class="form-control" placeholder="사용자이름을 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">전화번호</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="전화번호를 입력하세요 (- 포함)" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>
                </div>
                <div class="mb-3">
                    <label for="profileImage" class="form-label">프로필 이미지 업로드</label>
                    <input class="form-control bg-white" type="file" id="profileImage" name="profileImage">
                </div>
                <div>
                    <button type="submit" class="mb-3 btn btn-outline-dark w-100">회원가입</button>
                    <a th:href="@{/login}" class="btn btn-outline-dark w-100">로그인</a>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="~{fragment/footer :: FooterFragment}"></th:block>
<th:block th:insert="~{fragment/import :: ImportFragment}"></th:block>
<script th:src="@{../member/signup.js}"></script>
</body>
</html>
