<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{../lib/bootstrap.min.css}">
    <script th:src="@{../lib/jquery-3.7.1.min.js}"></script>
</head>
<body>
<footer class="bg-white py-3 mt-5">
    <div class="container text-center">
        <p class="mb-0">&copy; 2025 Board All rights reserved.</p>
    </div>
</footer>
</body>
</html>


