<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.board.comment.dao.CommentDao">
    <!-- 댓글 생성 -->
    <insert id="createComment" parameterType="com.service.board.comment.dto.CreateCommentReq" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO TB_COMMENT (
        post_idx,
        member_idx,
        parent_comment_idx,
        content,
        created_at,
        updated_at
        ) VALUES (
        #{postIdx},
        #{memberIdx},
        #{parentCommentIdx},
        #{content},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 댓글 조회 -->
    <select id="getComment" resultType="com.service.board.comment.dto.GetCommentRes">
        SELECT
        c.*,
        m.nick_name as nickname,
        m.profile_image_url as profileImageUrl
        FROM TB_COMMENT c
        LEFT JOIN TB_MEMBER m ON c.member_idx = m.idx
        WHERE c.idx = #{idx}
    </select>

    <!-- 게시물별 댓글 목록 조회 (페이지네이션) -->
    <select id="getComments" resultType="com.service.board.comment.dto.GetCommentRes">
        SELECT
        c.*,
        m.nick_name as nickName,
        m.profile_image_url as profileImageUrl,
        (SELECT COUNT(*) FROM TB_LIKE WHERE comment_idx = c.idx) as likeCount,
        (SELECT COUNT(*) FROM TB_UNLIKE WHERE comment_idx = c.idx) as unlikeCount,
        CASE WHEN EXISTS (
        SELECT 1 FROM TB_LIKE
        WHERE comment_idx = c.idx
        AND member_idx = #{memberIdx}
        ) THEN true ELSE false END as isLiked,
        CASE WHEN EXISTS (
        SELECT 1 FROM TB_UNLIKE
        WHERE comment_idx = c.idx
        AND member_idx = #{memberIdx}
        ) THEN true ELSE false END as isUnliked
        FROM TB_COMMENT c
        LEFT JOIN TB_MEMBER m ON c.member_idx = m.idx
        WHERE c.post_idx = #{postIdx}
        <if test="parentCommentOnly != null and parentCommentOnly == true">
            AND c.parent_comment_idx IS NULL
        </if>
        ORDER BY c.created_at DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="com.service.board.comment.dto.UpdateCommentReq">
        UPDATE TB_COMMENT
        SET content = #{content}, updated_at = CURRENT_TIMESTAMP
        WHERE idx = #{idx} AND member_idx = #{memberIdx}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM TB_COMMENT
        WHERE idx = #{commentIdx}
        AND member_idx = #{memberIdx}
    </delete>

    <!-- 게시물별 댓글 개수 조회 -->
    <select id="countComments" resultType="Long">
        SELECT COUNT(*)
        FROM TB_COMMENT
        WHERE post_idx = #{postIdx}
    </select>
    
    <!-- 대댓글 목록 조회 -->
    <select id="getReplies" parameterType="com.service.board.comment.dto.QueryReplyReq" resultType="com.service.board.comment.dto.GetReplyRes">
        SELECT 
            c.*,
            m.nick_name as nickName,
            m.profile_image_url as profileImageUrl,
            (SELECT COUNT(*) FROM TB_LIKE WHERE comment_idx = c.idx) as likeCount,
            (SELECT COUNT(*) FROM TB_UNLIKE WHERE comment_idx = c.idx) as unlikeCount,
            CASE WHEN EXISTS (
                SELECT 1 FROM TB_LIKE
                WHERE comment_idx = c.idx
                AND member_idx = #{memberIdx}
            ) THEN true ELSE false END as isLiked,
            CASE WHEN EXISTS (
                SELECT 1 FROM TB_UNLIKE
                WHERE comment_idx = c.idx
                AND member_idx = #{memberIdx}
            ) THEN true ELSE false END as isUnliked
        FROM 
            TB_COMMENT c
        LEFT JOIN 
            TB_MEMBER m ON c.member_idx = m.idx
        WHERE 
            c.parent_comment_idx = #{parentCommentIdx}
        ORDER BY 
            c.created_at ASC
        LIMIT #{offset}, #{size}
    </select>
    
    <!-- 대댓글 존재 여부 확인 -->
    <select id="getReply" parameterType="com.service.board.comment.dto.GetReplyReq" resultType="com.service.board.comment.dto.GetReplyRes">
        SELECT 
            c.*,
            m.nick_name as nickname,
            m.profile_image_url as profileImageUrl
        FROM 
            TB_COMMENT c
        LEFT JOIN 
            TB_MEMBER m ON c.member_idx = m.idx
        WHERE 
            c.parent_comment_idx = #{commentIdx}
        LIMIT 1
    </select>
    
    <!-- 대댓글 개수 조회 -->
    <select id="countReply" parameterType="com.service.board.comment.dto.CountReplyReq" resultType="Long">
        SELECT 
            COUNT(*)
        FROM 
            TB_COMMENT
        WHERE 
            parent_comment_idx = #{parentCommentIdx}
    </select>

</mapper>