<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.board.member.dao.LoginHistoryDao">

    <!-- 로그인 이력 추가 -->
    <insert id="createLoginHistory" parameterType="CreateLoginHistoryReq" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO TB_LOGIN_HISTORY (
            id,
            ip_address,
            login_time
        ) VALUES (
            #{id},
            #{ipAddress},
            CURRENT_TIMESTAMP
        )
    </insert>

</mapper>