<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.board.react.dao.UnlikeDao">
    <!-- 게시물/댓글 싫어요 등록 -->
    <insert id="createUnlike" parameterType="CreateReactReq" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO TB_UNLIKE (
            member_idx,
            <choose>
                <when test="postIdx != null">
                    post_idx
                </when>
                <otherwise>
                    comment_idx
                </otherwise>
            </choose>
        ) VALUES (
            #{memberIdx},
            <choose>
                <when test="postIdx != null">
                    #{postIdx}
                </when>
                <otherwise>
                    #{commentIdx}
                </otherwise>
            </choose>
        )
    </insert>

    <!-- 게시물/댓글 싫어요 조회 -->
    <select id="getUnlike" parameterType="GetReactReq" resultType="GetReactRes">
        SELECT 
            idx,
            member_idx as memberIdx,
            <choose>
                <when test="postIdx != null">
                    post_idx as postIdx,
                    NULL as commentIdx
                </when>
                <otherwise>
                    NULL as postIdx,
                    comment_idx as commentIdx
                </otherwise>
            </choose>
        FROM TB_UNLIKE
        WHERE member_idx = #{memberIdx}
        <choose>
            <when test="postIdx != null">
                AND post_idx = #{postIdx}
            </when>
            <otherwise>
                AND comment_idx = #{commentIdx}
            </otherwise>
        </choose>
    </select>

    <!-- 게시물/댓글 싫어요 개수 조회 -->
    <select id="countUnlike" parameterType="CountReactReq" resultType="Long">
        SELECT COUNT(*)
        FROM TB_UNLIKE
        <where>
            <choose>
                <when test="postIdx != null">
                    post_idx = #{postIdx}
                </when>
                <otherwise>
                    comment_idx = #{commentIdx}
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- 게시물/댓글 싫어요 삭제 -->
    <delete id="deleteUnlike" parameterType="DeleteReactReq">
        DELETE FROM TB_UNLIKE
        WHERE member_idx = #{memberIdx}
        <choose>
            <when test="postIdx != null">
                AND post_idx = #{postIdx}
            </when>
            <otherwise>
                AND comment_idx = #{commentIdx}
            </otherwise>
        </choose>
    </delete>
</mapper>