<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.common.member.dao.MemberDao">

    <!-- 회원가입 -->
    <insert id="signupMember" parameterType="SignupMemberReq" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO TB_MEMBER (
            id,
            password,
            user_name,
            nick_name,
            email,
            phone_number,
            profile_image_url,
            is_email_auth,
            is_in_active,
            created_at,
            updated_at
        ) VALUES (
            #{id},
            #{password},
            #{userName},
            #{nickName},
            #{email},
            #{phoneNumber},
            #{profileImageUrl},
            #{isEmailAuth},
            #{isInActive},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 회원 조회 -->
    <select id="findMember" parameterType="FindMemberReq" resultType="FindMemberRes">
        SELECT
            idx,
            id,
            password,
            user_name as userName,
            nick_name as nickName,
            email,
            phone_number as phoneNumber,
            profile_image_url as profileImageUrl,
            is_email_auth as isEmailAuth,
            is_in_active as isInActive,
            created_at as createdAt,
            updated_at as updatedAt
        FROM TB_MEMBER
        <where>
            <choose>
                <when test="idx != null">
                    idx = #{idx}
                </when>
                <when test="id != null">
                    id = #{id}
                </when>
                <when test="email != null">
                    email = #{email}
                </when>
            </choose>
        </where>
    </select>

    <!-- 회원 정보 수정 -->
    <update id="editMember" parameterType="EditMemberReq">
        UPDATE TB_MEMBER
        <set>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="profileImageUrl != null">
                profile_image_url = #{profileImageUrl},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="isEmailAuth != null">
                is_email_auth = #{isEmailAuth},
            </if>
            <if test="isInActive != null">
                is_in_active = #{isInActive},
            </if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        <where>
            <choose>
                <when test="idx != null">
                    idx = #{idx}
                </when>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>

</mapper>
